############################
# Python
############################
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

############################
# Python Virtual Environment
############################
backend/myenv/
venv/
.venv/

############################
# Environment Variables
############################
.env
.env.*
backend/.env
frontend/.env.local

############################
# Hugging Face Models
############################
backend/models/
!backend/models/.gitkeep

############################
# Temporary Uploads
############################
backend/temp_uploads/
backend/uploads/

############################
# Node
############################
frontend/node_modules/

############################
# Next.js
############################
frontend/.next/
out/

############################
# VS Code
############################
.vscode/

############################
# macOS
############################
.DS_Store

############################
# Windows
############################
Thumbs.db

############################
# Logs
############################
*.log

# Google Cloud credentials
backend/src/credentials/

# Flutter
App/build/
App/.dart_tool/
App/.flutter-plugins
App/.flutter-plugins-dependencies
App/.packages

# Dart
App/.dart_tool/package_config.json

# Android
App/android/.gradle/

# iOS
App/ios/Pods/
App/ios/.symlinks/

# VS Code
App/.vscode/